* {
	box-sizing: border-box;
}
header {
    background-color: whitesmoke;
}
.name {
    padding: 2rem;
    margin: 0;
}
.main-nav,
.item,
#contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.item a {
    color: black;
    padding: 1rem;
    margin: 0.2rem;
    background-color:white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}
.main-nav {
    padding: 0 1rem;
}

img {
    max-width: 100%;
}
.profile-image {
    max-width: 70%;
    margin: auto;
    margin-top: 3rem;
}
body {
    font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
    text-align: center;
    margin: 0px;
}
.description {
    margin: 1rem;
    padding-bottom: 2rem;
}
#portfolio-text {
    margin: 3rem;
}
main {
    margin: 2rem; 
}
p {
    margin: 1rem 0 4rem 0;
}
h3 {
    margin: 3rem 0 0.9rem 0;
    font-weight: bold;
}
footer {
    background: whitesmoke;
    
}
#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text {
    margin: 1rem;
}
.phone,
.email  {
    text-align: center;
    margin: 0.3rem;
}

.footerbottom {
    display: flex;
    justify-content: space-between;
}

.backtotop {
    font-weight: bolder;
    margin-right: 5%;
}
.nametext {
    font-weight: bolder;
    margin-left: 5%;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
.backtotop,
.nametext {
    margin-bottom: 5%;
    margin-top: 5%;
    
}
.footer-nav {
    display: none;
}

a:visited {
    color: green;
  }
  a:hover {
    color: hotpink;
  }
  
  


@media screen and (min-width: 768px)  {
    * {
        margin: 0;
    }
    body {
        background-color: whitesmoke;
    }
    .full-portfolio,
    #portfolio-center {
        background-color: white;
        margin: 0;
    }

    .item,
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .item a {
        background-color: whitesmoke;
    }
    .name {
        padding: 1rem;
        margin: 0;
    }
    .profile-description {
        display: flex;
        flex-direction: row-reverse;
    }
    .profile-image {
        width: 90%;
        margin: 1rem;
    }

    .full-portfolio {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row;
    }
    .marketing-page,
    .search-page,
    .travel-app,
    .map-of-favorite-spots,
    .photo-galery,
    .calculator {
        flex: 1 45%;
        margin: 0.4rem;
    }
    .backtotop,
    .nametext {
        display: none;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    .footer-nav ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        
    }
    a {
        padding: 15px;
    }
    #contact {
        background-color: whitesmoke;
        margin: 0;
    }

}

@media screen and (min-width: 1024px)  {
    body, main, header {
        background-color: whitesmoke;
        margin: 3.5rem;
        margin-top: 0;
    }
    #portfolio {
        display: flex;
        background-color: white;
        height: 5rem;
        justify-content: center;
        align-items: center;
    }
    div#portfolio{
        margin: 0px;
    }
    .portfolio-center {
        align-self: center;
        margin: 0;
    }
    .full-portfolio {
        background-color: white;
        border: 0 1rem;
    }
    .marketing-page,
    .search-page,
    .travel-app,
    .map-of-favorite-spots,
    .photo-galery,
    .calculator,
    #portfolio {
        flex:  27%;
        margin: 2rem;
    }
        
    .item,
    #contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name {
         font-size: 1.3rem;
         text-align: left;
        
    }
    .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav,
    .item-3 a {
        margin-right: 0;
        padding-right: 0;
    }
    html, body {
        height: 100%;
      }
    .nametext {
        display: none;
    }
    .item{
        display: inline-block;
        margin-left: 20px;
      }
      .header-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    .footer-nav ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        
    }
    a {
        padding: 15px;
}
}